span{
    font-size: 40px;
}
img{
    border-radius: 50%;
}
.card{
    min-height: 560px;
    min-width: 310px;
}
.position{
    position: absolute; 
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding: 30px;
}
h3{
    text-align: center;
}
@media screen and (max-width:768px) {
    .card{
        min-height: 620px;
        max-width: 450px;
    } 
}
