span{
    font-size: 40px;
}
img{
    border-radius: 50%;
}
.card{
    min-height: 620px;
}
.position{
    position: absolute; 
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding: 30px;
}
h3{
    text-align: center;
}