*{
  font-size: 3rem;
}
img{
    width: 600px;
    border-radius: 50%;
}
.vl {
    margin-left: 50px;
    border-left: 4px solid black;
    height: 600px;
  }
  .container__font-size{
    font-size: 1.8rem;
  }
  .container__username{
    font-weight: bold;
  }
  input{
    width: 250px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #eliminar{
    border-radius: 10px 0 0 10px;
  }
  #actualizar{
    border-right: none;
    border-left: none;
    border-radius: 0;
  }
  #volver{
    border-radius: 0 10px 10px 0;
  }
  