  <section class="container mt-3 mb-3">
    <div class="row g-3 align-items-end">
      <article class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3"  *ngFor="let user of infoUsers"> 
        <app-user-card [oneUser]="user" ></app-user-card>
      </article>
    </div>
    <div class="container m-4 d-flex justify-content-center">
      <span *ngFor="let button of buttons">
        <input #btn_{{button}} type="text" class="btn btn-outline-dark mt-4" readonly style="width: 40px;" id='btn_{{button}}' value={{button}} (click)="nextPage($event, buttons)">
      </span>
    </div>
  </section>