<nav class="navbar navbar-expand-lg">
  <div>
    <img src="https://www.kindpng.com/picc/m/116-1166142_transparent-cat-logo-png-black-cat-logo-png.png">
  </div>
    <div class="container-fluid">
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" aria-current="page" [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/newuser']">Nuevo usuario</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>