<section class="container mt-3">
    <form [formGroup]="userForm" (ngSubmit)="getDataForm()">
        <div>
            <label for="userName">Nombre Usuario</label>
            <input type="text" placeholder="introduce un nombre" class="form-control" formControlName="userName">
        </div>
        <div>
            <label for="userSurname">Apellido Usuario</label>
            <input type="text" placeholder="introduce un apellido" class="form-control" formControlName="userSurname">
        </div>
        <div>
            <label for="userEmail">Email Usuario</label>
            <input type="text" placeholder="introduce un email" class="form-control" formControlName="userEmail">
        </div>
        <div>
            <label for="userImg">Imagen Usuario</label>
            <input type="text" placeholder="introduce un enlace de una imagen" class="form-control" formControlName="userImg">
        </div>
        <input type="submit" class="btn btn-outline-dark mt-3" value="Guardar">
    </form>
</section>
